header {
  position: sticky;
  top: 0;
  height: 80px;
  background-color: rgba(25, 25, 55, 0.7);
  width: 100%;
  min-width: 1300px;
  z-index: 10;
}

body{
  margin: 0;
}

.container{
  margin: 0 auto;
  width :1300px;
  height: auto;
  overflow: hidden;
}

.header-left{
  float: left;
  height: 80px;
}

.header-left{
  padding: 0 20px;
}

.header-right{
  float: right;
  margin: auto 0;
}

.header-right a{
  text-decoration: none;
  margin: 0 5px;
  font-size: 20px;
  color: white;
  background-color: #a9a9a9;
  display: inline-block;
  line-height: 80px;
  padding: 0px 30px;
}

.header-right a:hover{
  background-color: #f5f5f5;
}

.top{
  text-align: center;
}

.site-name h1{
  font-size: 80px;
}

.profile{
  margin-top: 80px;
  width: 100%;
  height: auto;
  overflow: visible;
}

.profile-image{
  float: left;
  padding: 20px;
  margin-right: 40px;
}

.profile-image img{
  width: 550px;
  height: 550px;
}

.profile-right{

}

.profile-title{
  text-align: center;
  float: left;
  width: 45%;
}

.profile-title h1{
  font-size: 60px;

}

.profile-sentence{
  text-align: center;
  width: 45%;
  float:left;
  font-size: 20px;
  margin: 10px 0;
}

.profile-link{
  width: 45%;
  float: left;
  text-align: center;
  margin-top: 50px;
}

.profile-link a{
  font-size: 30px;
  padding: 20px;
  display: inline-block;
  color: white;
  background-color: #00ffff;
  border-radius: 10px;
  text-decoration: none;
}

.works{
  margin-bottom: 80px;
}

.works-title{
  text-align: center;
}

.works-title h1{
  display: inline-block;
  margin-top: 100px;
  font-size: 60px;
}

.works-link{
  text-align: center;
}

.works-link a{
  font-size: 40px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #00ffff;
  padding: 20px;
  border-radius: 10px;
}

.about-request{
  text-align: center;

}

.about-request-title h1{
  font-size: 60px;

}

.about-request-sentence{
  margin: 40px 0px;
}

.about-request-sentence p{
  font-size: 20px;
}

.about-request-link a{
  text-decoration: none;
  color: white;
  font-size: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: #00ffff;
  display: inline-block;
  margin: 20px;
}

.contact{
  text-align: center;

}

.contact-title h1{
  font-size: 60px
}

.explain{
  font-size: 20px;
}

.link a{
  text-decoration: none;
  color: white;
  font-size: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: #00ffff;
  display: inline-block;
  margin: 20px;
}

footer{
  background-color: #adff2f;
  height: 100px;
}
